header{
    margin: auto;
    padding: 2rem;
    display: flex;
    justify-content: center;
    max-width: 60rem;
}

li a {
    color: yellow;
    text-decoration: none;
}

li {
    list-style: none;
}

ul{
    display: flex;
    gap: 1rem
}

li a.active, li a:hover{
    text-decoration: underline;
}